* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    font-family: "Roboto", sans-serif;
    grid-template-rows: 1fr 7fr 2fr;
    grid-template-areas:
      "header header"
      "mainContent mainContent"
      "footer footer";
    height: 100vh;
    background-color: royalblue !important;
  }
  
  .boton{
      border: none;
      background-color: transparent;
    }
