footercuerpo {
  display: grid;
    color: black;
    background-color: white;
    grid-area: footer;
    justify-items: center;
    grid-template-columns: 1fr;
    align-items: center;
    z-index: 1;
    position:absolute;
    bottom:0;
    width:100%;
  /* Height of the footer */
  }
  
  .FooterParrafo {
    text-align: center;
    text-justify: inter-word;
  }
  